@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

/* 
CUBE CSS convention
    1. Variables
    2. Global styles
    3. Composition
    4. Utilities
    5. Blocks
    6. Exceptions
 */


/* 1. Variables */

:root {
    --desktop-width: 1440px;
    --mobile-width: 375px;
    /* primary */
    --primary-lightred: hsl(0, 100%, 67%);
    --primary-orangeyellow: hsl(39, 100%, 56%);
    --primary-greenteal: hsl(166, 100%, 37%);
    --primary-cobaltblue: hsl(234, 85%, 45%);
    --background-lightred: hsla(0, 100%, 67%, 0.05);
    --background-orangeyellow: hsla(39, 100%, 56%, 0.05);
    --background-greenteal: hsla(166, 100%, 37%, 0.05);
    --background-cobaltblue: hsla(234, 85%, 45%, 0.05);
    /* gradients */
    --gradient-slateblue: hsl(252, 100%, 67%);
    --gradient-royalblue: hsl(241, 81%, 54%);
    --gradient-violetblue: hsla(256, 72%, 46%, 1);
    --gradient-persianblue: hsla(241, 72%, 46%, 0);
    /* neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-paleblue: hsl(221, 100%, 96%);
    --neutral-lightlavender: hsl(241, 100%, 89%);
    --neutral-darkgrayblue: hsl(224, 30%, 27%);
}


/* 2. Global styles */

body {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
    background-color: rgb(241, 241, 241);
}

.reaction::before {
    content: url("../assets/images/icon-reaction.svg");
}

.memory::before {
    content: url("../assets/images/icon-memory.svg");
}

.verbal::before {
    content: url("../assets/images/icon-verbal.svg");
}

.visual::before {
    content: url("../assets/images/icon-visual.svg");
}


/* 3. Composition */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* gap: 1rem; */
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.flex-spaced {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.inline-block {
    display: inline-block;
}


/* 4. Utilities */


/* .fixed-width {
    width: 375px;
} */

.full-width {
    width: 100%;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

.margin-bottom-small {
    margin-bottom: .5rem;
}

.margin-bottom-normal {
    margin-bottom: 2rem;
}

.padding-side-normal {
    padding: 0 2rem;
}

.padding-side-large {
    padding: 0 3rem;
}

.padding-side-small {
    padding: 0 1rem;
}

.padding-large {
    padding: 2rem;
}

.padding-normal {
    padding: 1rem;
}

.margin-left-large {
    margin-left: 3rem;
}

.padding-vertical-normal {
    padding: 1rem 0;
}

.gap-normal {
    gap: 1rem;
}

.gap-small {
    gap: 0.75rem;
}

.large-font {
    font-size: 3rem;
}

.medium-font {
    font-size: 1.5rem;
}

.font-color-neutral {
    color: var(--neutral-darkgrayblue)
}

.font-bold {
    font-weight: 800;
}

.gap-large {
    gap: 2rem;
}

.neutral-background {
    background-color: var(--neutral-white);
}

.flex-growth {
    flex: 1;
}

.text-opaque {
    opacity: 0.5;
}


/* .max-width {
    max-width: 890px;
} */


/* 5. Blocks */

button {
    width: 100%;
}

result-component {
    background-color: var(--gradient-royalblue);
    color: var(--neutral-white);
    flex-basis: 100%;
    max-width: 311px;
    border-radius: 10%;
    flex-grow: 0;
}

summary-component {
    background-color: var(--neutral-white);
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 311px;
    /* align-items: flex-start; */
}

result-component footer {
    max-width: 30ch;
    /* text-align: justify; */
}

button {
    /* padding: 1rem; */
    border-radius: 4rem;
    border: none;
    color: var(--neutral-white);
    font-size: inherit;
    background-color: var(--neutral-darkgrayblue);
}

.score {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 1rem;
    justify-content: center;
    gap: 0.5rem;
}

ul>* {
    width: 100%;
    /* opacity: 0.1; */
    border-radius: 0.5rem;
}

li:has(.reaction) {
    color: var(--primary-lightred);
    /* background-color: rgb(0, 0, 0, 0.5); */
    background-color: var(--background-lightred);
}

li:has(.memory) {
    color: var(--primary-orangeyellow);
    background-color: var(--background-orangeyellow);
}

li:has(.verbal) {
    color: var(--primary-greenteal);
    background-color: var(--background-greenteal);
}

li:has(.visual) {
    color: var(--primary-cobaltblue);
    background-color: var(--background-cobaltblue);
}


/* 6. Exceptions */

.attribution {
    position: fixed;
    bottom: 0;
}

.flex-exception {
    align-items: normal;
}

.flex-exception-start {
    align-items: start;
}

.flex-exception-between {
    justify-content: space-between;
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */
}

@media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width:750px) {
    .flex-row {
        align-items: normal;
    }
}

@media (min-width:801px) {
    body {
        /* height: 100vh; */
    }
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}